<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>А Титл не передан буде этот</title>
      {% endif %}
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"> <!-- вставляю картинку в титл-->
    </head>
    <body>
        <div>
            Microblog: 
            
            <p><a href="{{ url_for('index') }}">Home page</a>
            <a href="{{ url_for('index2') }}">Alians page</a></p>
            {% if current_user.is_anonymous %}
                <p><a href="{{ url_for('login') }}">Login page</a></p>
            {% else %}
                <a href="{{ url_for('logout') }}">Logout page</a>
                <a href="{{ url_for('user', username=current_user.username) }}">Профайл Тебя</a>            
            {% endif %}
            <a href="{{ url_for('table') }}">Таблицы</a>
            <p><a href="{{ url_for('upload') }}">Загрузка файлов</a></p>
            
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>