{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 >Редактирование профайла</h3>
                 </div>   
            </div>     
        </div>
    </div>
</form>
    <form  method="post" role="form">
    
        
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            <div class="row">
                <div class="col-md-3">
                    {{ wtf.form_field(form.username)}} 
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ wtf.form_field(form.about_me)}}
                </div>
            </div>
            <button type="submit" class="btn btn-success">Сохранить изменения</button>
</form>

    <!-- OLD
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
-->
{% endblock %}