
<html>
    <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
    	<a href="{{ url_for('index') }}">Вернуться на Home page(меняеи цвет при наведении)</a> <br>
    	<a href="{{ url_for('for_css') }}">Обновить  ЭТУ страницу</a>
    	<div>Да начнуться эксперименты над всем живым и мертвым... </div>
    	<h1> Заголоок с тегом h1</h1>
    	<h2> Заголоок с тегом h2 -присутствует тень</h2>
    	<h3> Заголоок с тегом h3</h3>
    	<h4> Заголоок с тегомh4 </h4>
    	<h3 class="idvlad"> Это будет коричневым?</h3>
    	<h3 id="idvald2" > это будет желтым? </h3>	
    	<p>Просто текст над которым буду проводится эксперименты, надругательства и прочее, но в исключительно познавательных целях. Применены к тегу "Р" следующий моды - растояние между букаф, Шрифт - Тайм нью Роман, т.д.

    	<p>Далее начало книги  уважаемого Терри Гудкайнда "первое правило волшебника"</p>


<h1>Глава 1</h1>

<div class="block">  <img src="{{url_for('static', filename='img/hetfield_2.jpg')}}">
</div>

<p>Странная это была лоза. Пятнистые темные листья плотно прижимались к стеблю, сдавившему мертвой хваткой гладкий ствол бальзамической пихты. Ветви пихты усохли и поникли, из поврежденной коры сочилась смола. Впечатление было такое, будто еще немного – и дерево протяжно застонет на сыром утреннем ветру. Из-под листьев лозы, словно высматривая по сторонам нежелательных свидетелей, выглядывали стручки.</p>

<p>Ричард обратил внимание на запах, похожий на запах разложения чего-то и без того мерзкого. Пытаясь подавить гнетущее отчаяние и привести мысли в порядок, Ричард взлохматил пятерней густые волосы. Он ведь искал именно эту лозу… Что же дальше? Он внимательно огляделся вокруг, но других таких не заметил. Верхний Охотничий лес выглядел вполне привычно. Клены, уже слегка тронутые багрянцем, горделиво покачивали новым убором на легком ветерке. Ночи становятся все прохладнее, и скоро к кленам присоединятся их собратья из Оленьего леса. Дубы не желали уступать осени и пока не меняли свои темно-зеленые плащи.</p>

<p>Ричард провел в лесах большую часть жизни. Он знал здесь все растения – если не по названиям, то хотя бы на вид. Его друг Зедд брал с собой мальчика на поиски целебных трав с ранних лет. Он показывал ему, какие можно собирать, объяснял, где их найти, и называл все травы, кустарники и деревья, какие только попадались им на глаза. Они вели беседы обо всем на свете, и старик всегда держался с ним на равных, выслушивал столь же серьезно, сколь говорил. Именно Зедд пробудил в Ричарде жажду знаний.</p>

<p>Но такую лозу Ричард видел прежде только раз, и то не в лесу. Он нашел ее побег в отцовском доме, в синем кувшине, который Ричард еще ребенком сам слепил из глины. Отец был торговцем и, часто разъезжая по свету, привозил из странствий приобретенные по случаю редкостные вещицы. Многие состоятельные люди стремились попасть к нему ради этих находок. Отцу же, судя по всему, интереснее было искать, нежели находить. Он всегда с радостью расставался с очередной диковинкой и пускался на поиски новой.</p>

<img src="{{ url_for('static', filename='img/Gitarist.jpg')}}">
<p>Когда отец бывал в отъезде, Ричард проводил время в обществе Зедда. Старший брат Майкл не испытывал никакого интереса ни к лесам, ни к беседам со стариком Зеддом, предпочитая общество людей побогаче. Прошло уже без малого пять лет с тех пор, как Ричард покинул отцовский кров и зажил самостоятельной жизнью. Однако он частенько навещал отца – не то что брат. Майкл вечно ссылался на занятость и редко выкраивал время для визитов. Уезжая, отец обычно оставлял в синем кувшине записку, в которой сообщал Ричарду последние новости или пересказывал свежие сплетни. Иногда в кувшине оказывались открытки с видами дальних мест, в которых отец побывал.</p>

<p>Когда три недели назад брат пришел и сказал, что отец убит, Ричард сразу собрался в дорогу. Майкл тщетно отговаривал его, уверяя, что незачем ему туда ходить и нечего там делать. Ричард давно вышел из того возраста, когда во всем повиновался брату.</p>

<p>Ричарда не пустили в комнату, где лежало тело отца. Но он все-таки успел заметить большие бурые пятна – подсохшие лужи крови на дощатом полу. Ричард замер, ничего больше не видя; все закружилось перед глазами. Потом он слонялся по дому, и негромкие разговоры стихали при его приближении. Соболезнования лишь обостряли горе, терзавшее сердце. Несколько раз до слуха Ричарда доносились обрывки разговоров о том, что творится вблизи границы. Какие-то дикие слухи.</p>

<p>О колдовстве.</p>

<p>Юношу потряс разгром, царивший в маленьком домике. Внутри словно пронесся смерч. Редкие вещи остались на местах. Синий «почтовый» кувшин по-прежнему стоял на полке. В нем-то Ричард и нашел черенок лозы, который тогда же перекочевал к нему в карман. Ричард так и не смог угадать, что хотел сообщить ему отец. Ричарда охватило отчаяние, и, хотя у него оставался брат, он почувствовал себя совсем одиноким. Возраст никак не защищал его от горечи оставленности. Один против целого мира – это чувство Ричард познал еще в детстве, когда умерла мать. Правда, маленький Ричард всегда знал, что, хотя отец часто и надолго отлучался из дома, он обязательно возвращался. Но теперь он уже не вернется никогда.</p>
<img src="{{ url_for('static', filename='img/hetfield_1.jpg')}}" class="vladimg">
<p>Майкл ни за что не позволил бы младшему брату предпринимать розыски убийцы. Он так прямо и сказал: этим занимаются лучшие армейские ищейки, и он желает, чтобы Ричард ради собственного же блага держался от них в стороне. Потому Ричард просто утаил от Майкла черенок и начал пропадать на целые дни. Он искал лозу. Три недели блуждал он по Оленьему лесу, исходил все тропки, даже те немногие, о которых знал лишь понаслышке.</p>

<p>Наконец, вопреки здравому смыслу, он уступил неясному голосу, который словно нашептывал ему что-то из глубины сознания, и направился к самой границе Охотничьего леса. Этот шепот будил в Ричарде смутное ощущение, будто ему, Ричарду, каким-то образом известно нечто, имеющее отношение к убийству отца. Шепоток дразнил, издевался, вызывая обманчивое чувство, будто вот-вот все встанет на свои места. Отчаявшись разгадать тайну, обессиленный Ричард убеждал себя, что голос – плод воспаленного, охваченного горем воображения, а на самом деле никакого шепота нет, но надеялся, найдя лозу, все же получить ответ.</p>

<p>И вот он ее обнаружил и не знал, что делать дальше. Шепоток перестал мучить его, затаился. Да нет же, это ведь не более чем плод воображения. Что за бред – наделять фантазии собственной жизнью! Разве этому учил его Зедд?</p>

<p>Ричард поднял глаза на высокое дерево, задыхавшееся в предсмертной агонии. Он вновь вернулся мыслями к гибели отца. В доме находилась лоза. А теперь лоза убивает это дерево, и в этом нет ничего хорошего. И пускай отца уже не вернуть, но он не позволит совершиться еще одному убийству. Крепко ухватившись за стебель, Ричард потянул его на себя и, сильно дернув, оторвал от ствола.</p>

<p>И тогда лоза ужалила его.</p>

<p>Один из стручков выстрелил ему чем-то в левое запястье.</p>

<p>Ричард вздрогнул от боли и отпрянул. С изумлением осмотрев ранку, он обнаружил нечто вроде шипа, вонзившегося в руку. Это решило дело. Лоза – порождение зла. Ричард потянулся за ножом, чтобы извлечь шип, но ножа на поясе не оказалось. После первого недоумения ему все стало ясно. Он отругал себя за то, что настолько поддался переживаниям: собираясь в лес, забыл о такой необходимейшей вещи, как нож. Попробовал вытащить шип ногтями. Однако тот, словно живой, впился еще глубже. Пытаясь поддеть шип, Ричард надавил ногтем большого пальца поперек ранки, но чем сильнее он надавливал, тем глубже уходил шип. А когда Ричард попробовал было расковырять ранку, из желудка вдруг поднялась противная волна тошноты, и от этого намерения пришлось отказаться. Шип пропал в медленно сочащейся крови.</p>

<p>Снова оглядевшись, Ричард приметил пурпурно-красные листья маленького «нянюшкиного» деревца, согнувшегося под тяжестью темно-синих ягод. Под деревцем он нашел то, что искал, – приютившуюся в корнях ом-траву. Почувствовав облегчение, он осторожно вытянул из земли нежный стебель и легонько выжал на ранку каплю клейкой прозрачной жидкости. При этом он мысленно поблагодарил старого Зедда, научившего его этой нехитрой премудрости. Ом-трава быстро заживляет раны. Мягкие пушистые листья всегда напоминали Ричарду о Зедде. Омовый сок притупил боль, но тревога не исчезла: Ричард по-прежнему не мог удалить шип и чувствовал, как тот все глубже погружается в мягкие ткани.</p>

<p>Присев на корточки и выкопав руками небольшую ямку, Ричард посадил в нее ом-траву и подоткнул вокруг стебля мох, чтобы растение могло снова прижиться.</p>

<p>Внезапно все лесные звуки разом смолкли, наступила мертвая тишина. Подняв глаза, Ричард вздрогнул: по земле, по кронам, по листве пронеслась черная тень. В вышине раздался пронзительный свист. Тень была пугающе огромной. Птицы сорвались с ветвей и, тревожно вереща, разлетелись во все стороны. Ричард запрокинул голову, высматривая источник переполоха. На миг ему показалось, будто он видит что-то очень большое-большое и красное. Но он не смог как следует разглядеть. Припомнились отголоски слухов и пересудов о приближении из-за границы какой-то грозной опасности. И тут же словно мороз прошел по коже, пробирая Ричарда до костей.</p>

<p>«Если лоза – порождение зла, – подумал он, – эта пакость в небе, пожалуй, будет похлеще». Старинная пословица гласила: «Зло порождает троих детей». Ричард решил, что ему совсем не хочется повстречаться с третьим из них.

<p>Отбросив страхи, Ричард побежал вперед. «Все это не более чем праздная суеверная болтовня», – убеждал он себя. Он попытался понять, чем могло быть то, что он успел заметить – красное и очень большое, – но ничего не получилось: то, что летает, не бывает таким огромным. Может, это просто облако или игра света? Нет, себя не обманешь – никакое это не облако.</p>

<p>Часто поглядывая вверх и стараясь разглядеть хоть что-нибудь сквозь просветы крон, он бежал к огибающей холм тропе. По ту сторону тропы земля резко шла под уклон, и Ричард хотел без помех осмотреть оттуда небо. Мокрые после ночного дождя ветви деревьев хлестали его по лицу, кусты цеплялись за одежду. Он бежал, перепрыгивая поваленные деревья и небольшие каменистые осыпи. Пятна света дразнили, искушая взглянуть на небо, но нужный обзор пока не открывался. Ричард уже задыхался, пот холодными струйками стекал по лицу, сердце колотилось. Не разбирая дороги он несся вниз по склону. Наконец, едва не валясь с ног, он выбрался на тропу.</p>

<p>Обведя взглядом небо, Ричард заметил темное пятно. Оно было уже далеко и стало слишком маленьким, чтобы разобрать детали. «Правда, – решил Ричард, – у этого нечто есть крылья». Он прищурился, прикрыв глаза рукой, пытаясь убедиться, что в яркой синеве действительно мелькают крылья. Темное пятно скользнуло за холм и пропало. Ричард даже не смог бы с уверенностью сказать, что оно действительно красное.

Переведя дух, Ричард устало опустился на гранитный валун возле тропы и, глядя на Трантское озеро у подножия холма, стал задумчиво обламывать сухие веточки растущего рядом молоденького деревца. Может, сходить к брату и рассказать о лозе и о красной летучей твари в небе? Нет, Майкл просто посмеется. Ричард и сам раньше смеялся над подобными россказнями. К тому же Майкл рассердится на него за то, что он подошел так близко к границе, ослушался приказа не предпринимать самостоятельных розысков убийцы. Ричард понимал: конечно, брат переживает за него, иначе не ворчал бы так часто. Но ведь и Ричард – взрослый и имеет право отмахнуться от надоевших нравоучений, а недовольные взгляды брата он как-нибудь переживет.</p>

<p>Ричард обломил еще один прутик и в досаде бросил его на плоский валун. Судя по всему, выбирать не приходится. В конце концов, Майкл всегда всех поучал, как следует поступать, даже отца.

Ричард мысленно одернул себя. Нельзя судить Майкла слишком строго, тем более сегодня, когда у брата знаменательный день. Сегодня он вступает в должность первого советника, и отныне будет распоряжаться всем: не только Хартлендом, но и всеми городами и селениями Вестландии, со всеми жителями, включая и деревенских. Будет отвечать за всех и за все. Майкл заслужил поддержку Ричарда, он нуждается в ней: брат ведь тоже потерял отца. Церемония вступления должна состояться сегодня днем. В доме Майкла намечается большое празднество, прибудут влиятельные господа из самых отдаленных пределов Вестландии. Ричарду тоже полагается присутствовать. Что ж, по крайней мере угостят там на славу. Он понял, что проголодался.
</p>
<p>Размышляя, Ричард глядел на противоположный берег синеющего далеко внизу Трантского озера. Даже с этой высоты в прозрачной воде виднелись темно-синие глубокие омуты, зеленые подводные заросли и бурые пятна каменистого дна. У кромки озера, то исчезая за деревьями, то вновь появляясь, петляла Сокольничья тропа. Ричард не раз ходил по ней. Весной тропа делалась топкой и скользкой, но сейчас, осенью, должна быть твердой и сухой. Севернее и южнее ходить по ней бывало страшновато – слишком близко к границе. Поэтому большинство путников ее избегали, предпочитая дорогу через Олений лес. Ричард был лесным проводником и помогал желающим благополучно пересекать эти леса. Правда, путешествующие сановники нанимали местного проводника в основном ради престижа.

Вдруг Ричард заметил краем глаза какое-то движение на тропе. Он пристально вгляделся в дальний конец озера. Вот снова что-то мелькнуло сквозь тонкую завесу листвы. Сомнений не оставалось: там шел человек. Может быть, это его друг Чейз? Кто еще, кроме стража границы, осмелится бродить по этим местам?

Вскочив с камня, Ричард отшвырнул прутики и зашагал вперед. Человек продолжал двигаться по тропе и теперь появился на открытом месте у кромки озера. Нет, это не Чейз… это девушка. В платье. Что за незнакомка осмелилась забраться так далеко в Охотничий лес, да еще в платье? Ричард наблюдал за ней, пока она шла вдоль берега. Незнакомка, следуя извивам тропы, то исчезала, то вновь появлялась. Не похоже, чтобы она торопилась, но и вялой ее походку никак нельзя назвать. Девушка шагала мерно и уверенно – ни дать ни взять опытная путешественница. Впрочем, это и понятно, ведь в окрестностях Трантского озера нет человеческого жилья.</p>

Сделаю список под конец, для экспериментов ясно дело.
<ul>
	<li>Первая строка списка</li>
	<li>Вторая строка списка</li>
	<li>Третья строка списка</li>
	<li>И т.д.</li>
</ul>

<ul class="menu">
	<li>Первая строка списка</li>
	<li>Вторая строка списка</li>
	<li>Третья строка списка</li>
	<li>И т.д.</li>
</ul> 
	<div> чтобы данный блок не залез в строку к списку ему пришлось сделать правило обтекания, вместе с тем не понятно почему заголовок затек в строку к спискам</div>
 
	 <h1>  
	 	Тут еще могли быть примеры по работе с слоями, но в целом тема ясна, лишней фигню сюда городить и в файл ЦСС не хочется.
	</h1>

    </body>
</html>

    

