{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <form class="form form-group" method="post" role="form">
        <div class="panel panel-info">
           <div class="panel-heading">
                    <div class="panel-title">
                        <h4>На данной странице представлены формы: список, ввод текста. Обыно, эти формы не применяются в отдельности от других так как сами по себе не особо полезны. Ниже просто пример.</h4>
                    </div>
            </div>
            <div class="panel-body">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.Listfield)}} 
                {{ wtf.form_field(form.Tafform, placeholder="от 1 до 250 символов (ограничение устанавливается вручную в фреймворке Фласк")}} 
                 

                <input type="submit" class="btn btn-success" value="Выбрать">
            </div>
        </div>
</form>
{% if ValueForm1 %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Полученные сервером данные:</div>
            </div>
            <div class="panel-body">
                <ul class= list-unstyled ">
                    <li >Выбранное значение списка: <b>{{ValueForm1}}</b></li>
                    <li >Введенные данные в форму "ввод текста":<b> {{ValueForm2}}</b></li>
                </ul>
            </div>
        </div>
{% endif %}
{% endblock %}