{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<p></p>
    <h1>Вход</h1>
    <form class="form form-group" method="post" role="form">
      <div class="row">
        <div class="col-md-4">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.username,placeholder="Имя пользователя")}} 
            {{ wtf.form_field(form.password,placeholder="Пароль")}} 
            {{ wtf.form_field(form.remember_me)}}
            {{ wtf.form_field(form.submit) }}

        </div>

    </div> 

    <!-- То что было до бутстрапа

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}  </span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }} </span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
       <p>{{ form.submit()}} </p>
    </form>
-->
{% endblock %}