{% extends "base.html" %}

{% block app_content %}
    
<h2 class="col-xs-offset-3" >Форма регистрации</h2>
<form class="form-horizontal" method="post" role="form">
    <div class="form-group">
        <label class="control-label col-xs-3" for="lastName">Фамилия:</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="lastName" name="Фамилия" placeholder="Введите фамилию">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="firstName">Имя:</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="firstName"  name="Имя" placeholder="Введите имя">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="fatherName">Отчество:</label>
    <div class="col-xs-4">
        <input type="text" class="form-control" id="fatherName"  name="Отчество" placeholder="Введите отчество">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Дата рождения:</label>
        <div class="col-xs-4">
            <input type="date" class="form-control" name="date">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="inputEmail">Электронная почта:</label>
        <div class="col-xs-4">
            <input type="email" class="form-control" id="inputEmail" name="Электронная почта"  placeholder="Email">
        </div>
    </div>
     
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <input type="submit" class="btn btn-primary" value="Регистрация">
        </div>
    </div>
</form>

{% if ValueForm %}

    
    
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">Переданая информация</div>
            </div>
            <div class="panel-body">
                <ul class= list-unstyled ">
                    {%for value in ValueForm %}
                       <li >{{value}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
   
{% else %}

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Info</div>
            </div>
            <div class="panel-body">
                Данная форма построена на HTML коде + Bootstrap3. Постороение форм от фласк на данной странице не использовалось, поскольку на них не так просто прикрутить фичи Bootstrap, возникают мелки несостыковки в отображении. Существенный минус формы на HTML коде, то что  поля формы не проходят валидации настроеной  инструментами в фласке ( за исключением поля Электронной почты), а пароль передается из формы в незашифрованном виде, в то время как в шаблонах фласк  форма работает с ХЭШем пароля.
        </div>
   
{% endif %}
{% endblock %}