{% extends "base.html" %}

{% block content %}
    
     <form action="" method="post" enctype = "multipart/form-data">
        {{ form.hidden_tag() }}
        <!-- 
        form.hidden_tag() создает скрытое поле, включающее токен, который используется для защиты формы от CSRF атак                 
         <input type = "file" name = "file" />
         <input type = "submit"/>      
         HTML форму не далел так как все валидации загруженных данны  сделал через форму  -->
     
        <p>
            {{ form.fupload.label }}<br>
            {{ form.fupload }}<br>
            {% for error in form.fupload.errors %}
            	<span style="color: red;">[{{ error }} ]</span>
            {% endfor %}
        </p>
         
    {{form.submit}}

</form>

<p><div> Данная форма для загрузки файлов размером не более 6 Мб. При привышении указанного лимита обозначенного в файле конфига вылетает ошибка 413. Написан код на обрадотку ошибки, но Фласк его не корректно отрабатывает, судя по инфе из инета  так на локальном сервере. Увы.
       
</div></p>
<div><a title='link for static file' download href="static/Help.ico" > <img src="/static/Help.ico" > Ссылка файл ? </a> <br>
Если навести мышь на ссылку, появится подсказка
Выгружает файлы тольк из папки static и вложенные в нее, другие папки фласк не рассматривает как содержащие статику, хотя путь указан верно</div>



{% endblock %}